<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img [src]="'./assets/MediPro.jpg'" alt="MediPro Logo" class="logo">
      <span class="logo-text">MediPro Computers</span>
    </a>

    <!-- Mobile menu button -->
    <button class="menu-button" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar links -->
    <div class="navbar-links" [class.active]="isMenuOpen">
      <a routerLink="/" class="nav-link">Home</a>
      <a href="#" class="nav-link">Solutions</a>
      <a href="#" class="nav-link">Resources</a>
      <!-- <a href="https://mediprocomputers.com/Download/Index" class="nav-link" target="_blank" rel="noopener noreferrer">Downloads</a> -->
      <a routerLink="/downloads" class="nav-link">Downloads</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
      <div class="dropdown">
        <a routerLink="/about" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          About Us
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/team">Team</a></li>
          <li><a class="dropdown-item" routerLink="/careers">Careers</a></li>
          <li><a class="dropdown-item" routerLink="/news">News</a></li>
          <li><a class="dropdown-item" routerLink="/event">Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
  
