<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img [src]="'./assets/MediPro.jpg'" alt="MediPro Logo" class="logo">
      <span class="logo-text">MediPro</span>
    </a>

    <!-- Navbar links -->
    <div class="navbar-links">
      <a routerLink="/" class="nav-link">Medipro Computers</a>
      <a href="#" class="nav-link">Solutions</a>
      <a href="#" class="nav-link">Resources</a>
      <a href="#" class="nav-link">Download</a>
      <a href="#" class="nav-link">Contact</a>
      <a routerLink="/about" class="nav-link">About</a>
    </div>
  </div>
</nav>
  
