<div class="container py-4">
    <h1 style="color:blueviolet" class="display-4 mb-3 text-center">MediPro & Other Tools Download</h1>
    
    <div class="row">
      <!-- MediPro Tools Box -->
      <div class="col-md-6 mb-4">
        <div class="download-box">
          <h2 style="color:blueviolet" class="mb-3">MediPro Tools</h2>
          <ul class="download-list">
            <li *ngFor="let category of firstGroupCategories">
              <h5 style="color:blueviolet" class="category-title">{{ category.title }}</h5>
              <ul class="list-unstyled">
                <li *ngFor="let file of category.downloads || []" class="mb-2">
                  <i class="bi bi-download"></i>
                  <a [href]="file.url" target="_blank" style="color:#11074f">{{ file.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <!-- Other Tools Box -->
      <div class="col-md-6 mb-4">
        <div class="download-box">
          <h2 style="color:blueviolet" class="mb-3">Other Tools</h2>
          <ul class="download-list">
            <li *ngFor="let category of secondGroupCategories">
              <h5 style="color:blueviolet" class="category-title">{{ category.title }}</h5>
              <ul class="list-unstyled">
                <li *ngFor="let file of category.downloads || []" class="mb-2">
                  <i class="bi bi-download"></i>
                  <a [href]="file.url" target="_blank" style="color:#11074f">{{ file.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  